<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czx.saturn.core.mapper.ConfigTextSnapshotMapper" >
  <resultMap id="BaseResultMap" type="com.czx.saturn.core.entity.ConfigTextSnapshot" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="config_id" property="configId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="namespace_code" property="namespaceCode" jdbcType="VARCHAR" />
    <result column="env_code" property="envCode" jdbcType="VARCHAR" />
    <result column="app_code" property="appCode" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="current_version" property="currentVersion" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.czx.saturn.core.entity.ConfigTextSnapshot" extends="BaseResultMap" >
    <result column="config_old_value" property="configOldValue" jdbcType="LONGVARCHAR" />
    <result column="config_new_value" property="configNewValue" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, config_id, type, namespace_code, env_code, app_code, operator, current_version, 
    create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    config_old_value, config_new_value
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.czx.saturn.core.entity.ConfigTextSnapshotExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from config_text_snapshot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.czx.saturn.core.entity.ConfigTextSnapshotExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from config_text_snapshot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from config_text_snapshot
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from config_text_snapshot
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.czx.saturn.core.entity.ConfigTextSnapshotExample" >
    delete from config_text_snapshot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.czx.saturn.core.entity.ConfigTextSnapshot" >
    insert into config_text_snapshot (id, config_id, type, 
      namespace_code, env_code, app_code, 
      operator, current_version, create_time, 
      update_time, config_old_value, config_new_value
      )
    values (#{id,jdbcType=BIGINT}, #{configId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, 
      #{namespaceCode,jdbcType=VARCHAR}, #{envCode,jdbcType=VARCHAR}, #{appCode,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{currentVersion,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{configOldValue,jdbcType=LONGVARCHAR}, #{configNewValue,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.czx.saturn.core.entity.ConfigTextSnapshot" >
    insert into config_text_snapshot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="configId != null" >
        config_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="namespaceCode != null" >
        namespace_code,
      </if>
      <if test="envCode != null" >
        env_code,
      </if>
      <if test="appCode != null" >
        app_code,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="currentVersion != null" >
        current_version,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="configOldValue != null" >
        config_old_value,
      </if>
      <if test="configNewValue != null" >
        config_new_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="configId != null" >
        #{configId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="namespaceCode != null" >
        #{namespaceCode,jdbcType=VARCHAR},
      </if>
      <if test="envCode != null" >
        #{envCode,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null" >
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="currentVersion != null" >
        #{currentVersion,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="configOldValue != null" >
        #{configOldValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="configNewValue != null" >
        #{configNewValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.czx.saturn.core.entity.ConfigTextSnapshotExample" resultType="java.lang.Integer" >
    select count(*) from config_text_snapshot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update config_text_snapshot
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.configId != null" >
        config_id = #{record.configId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.namespaceCode != null" >
        namespace_code = #{record.namespaceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.envCode != null" >
        env_code = #{record.envCode,jdbcType=VARCHAR},
      </if>
      <if test="record.appCode != null" >
        app_code = #{record.appCode,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.currentVersion != null" >
        current_version = #{record.currentVersion,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.configOldValue != null" >
        config_old_value = #{record.configOldValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.configNewValue != null" >
        config_new_value = #{record.configNewValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update config_text_snapshot
    set id = #{record.id,jdbcType=BIGINT},
      config_id = #{record.configId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=VARCHAR},
      namespace_code = #{record.namespaceCode,jdbcType=VARCHAR},
      env_code = #{record.envCode,jdbcType=VARCHAR},
      app_code = #{record.appCode,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      current_version = #{record.currentVersion,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      config_old_value = #{record.configOldValue,jdbcType=LONGVARCHAR},
      config_new_value = #{record.configNewValue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update config_text_snapshot
    set id = #{record.id,jdbcType=BIGINT},
      config_id = #{record.configId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=VARCHAR},
      namespace_code = #{record.namespaceCode,jdbcType=VARCHAR},
      env_code = #{record.envCode,jdbcType=VARCHAR},
      app_code = #{record.appCode,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      current_version = #{record.currentVersion,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.czx.saturn.core.entity.ConfigTextSnapshot" >
    update config_text_snapshot
    <set >
      <if test="configId != null" >
        config_id = #{configId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="namespaceCode != null" >
        namespace_code = #{namespaceCode,jdbcType=VARCHAR},
      </if>
      <if test="envCode != null" >
        env_code = #{envCode,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null" >
        app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="currentVersion != null" >
        current_version = #{currentVersion,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="configOldValue != null" >
        config_old_value = #{configOldValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="configNewValue != null" >
        config_new_value = #{configNewValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.czx.saturn.core.entity.ConfigTextSnapshot" >
    update config_text_snapshot
    set config_id = #{configId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      namespace_code = #{namespaceCode,jdbcType=VARCHAR},
      env_code = #{envCode,jdbcType=VARCHAR},
      app_code = #{appCode,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      current_version = #{currentVersion,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      config_old_value = #{configOldValue,jdbcType=LONGVARCHAR},
      config_new_value = #{configNewValue,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czx.saturn.core.entity.ConfigTextSnapshot" >
    update config_text_snapshot
    set config_id = #{configId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      namespace_code = #{namespaceCode,jdbcType=VARCHAR},
      env_code = #{envCode,jdbcType=VARCHAR},
      app_code = #{appCode,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      current_version = #{currentVersion,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>